﻿@section HeadSection {
}
@section BodyInits {
}
@section BodyScripts {
	<script src="~/Content/ckeditor4/ckeditor.js"></script>
	<script src="~/Content/ckeditor4/adapters/jquery.js"></script>
	<script src="~/Content/ckeditor4/_plug.min.js"></script>
}


<textarea class="form-ckeditor" name="Content" id="Content">
	<h1>Тестовый контент</h1>
	Test content
	<div>Div test content</div>
	<p>Test content 2 <a href="http://guap.ru/">http://guap.ru</a></p>
	<ul><li>Item 1</li><li>Item 2</li><li>Item 3</li></ul>
	<ol><li>Item 1</li><li>Item 2</li><li>Item 3</li></ol>
	<dl>
		<dt>Item 1</dt>
		<dd>Value 1</dd>
	</dl>
	<blockquote>Blockquote content sample</blockquote>
</textarea>
