﻿@import "../fonts/opensans/opensans";
@import (inline) url('contents.css');

@default-font-size: 13pt;

.reset() {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif, Arial, Verdana, "Trebuchet MS";
	font-size: @default-font-size;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	color: #222;
}

body {
	.reset();
	margin: 3pt;
}

.cke_editable {
	margin: 0;
	padding: 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

/* elements */

h1, h2, h3, h4, h5, h6,
ol, ul, dl,
li, dt, dd,
p, div, blockquote {
	.reset();
	margin: 3pt;
}

h1, h2, h3, h4, h5, h6 {
	@color: #444;
	background-color: fade(@color, 10%);
	font-weight: bold;
	color: @color;
}

h1 {
	font-size: @default-font-size * 2.2;
}

h2 {
	font-size: @default-font-size * 1.8;
}

h3 {
	font-size: @default-font-size * 1.4;
}

h4 {
}

h5 {
	font-size: @default-font-size * .9;
}

h6 {
	font-size: @default-font-size * .8;
}

ul {
	> li {
		margin-left: 1em;
	}
}

ol {
	> li {
		margin-left: 3em;
	}
}


blockquote {
	@color: #222;
	background-color: fade(@color, 2%);
	font-size: @default-font-size * 1.2;
	font-style: italic;
	font-weight: 100;
	color: @color;
}

pre {
	white-space: pre-wrap; /* CSS 2.1 */
	-ms-word-wrap: break-word;
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 3;
	-o-tab-size: 3;
	tab-size: 3;
}


a {
	color: #00f;

	> img {
		padding: 1px;
		margin: 1px;
		border: none;
		outline: 1px solid #0782C1;
	}
}

figure {
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;

	> figcaption {
		text-align: center;
		display: block; /* For IE8 */
	}
}

hr {
}

/* modificators */

.cke_contents_ltr blockquote {
	padding: 0 2em;
	border-left: solid .5em #999;
}

.cke_contents_rtl blockquote {
	padding: 0 2em;
	border-left: solid .5em #999;
}

img.right {
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left {
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

.marker {
	background-color: Yellow;
}

span[lang] {
	font-style: italic;
}

.code-featured {
	border: 5px solid red;
}

.math-featured {
	padding: 20px;
	box-shadow: 0 0 2px rgba(200, 0, 0, 1);
	background-color: rgba(255, 0, 0, 0.05);
	margin: 10px;
}

.image-clean {
	border: 0;
	background: none;
	padding: 0;
}

.image-clean > figcaption {
	font-size: .9em;
	text-align: right;
}

.image-grayscale {
	background-color: white;
	color: #666;
}

.image-grayscale img, img.image-grayscale {
	filter: grayscale(100%);
}

.embed-240p {
	max-width: 426px;
	max-height: 240px;
	margin: 0 auto;
}

.embed-360p {
	max-width: 640px;
	max-height: 360px;
	margin: 0 auto;
}

.embed-480p {
	max-width: 854px;
	max-height: 480px;
	margin: 0 auto;
}

.embed-720p {
	max-width: 1280px;
	max-height: 720px;
	margin: 0 auto;
}

.embed-1080p {
	max-width: 1920px;
	max-height: 1080px;
	margin: 0 auto;
}
