﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - FACT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/notify")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mycmo")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" type="text/css" href="~/Content/sprint15/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sprint15/style2.css">
</head>
<body style="padding-top:0px;">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("", "Home")"><img src="@Url.Content("~/Content/Images/AGLogo.png")" class="logo" alt="AG Logo" /></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Touchpoints", "Library", "Touchpoints")</li>
                    <li>@Html.ActionLink("Education", "", "Education")</li>
                    <li>@Html.ActionLink("Support", "Support", "Admin")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <div style="clear:both;"></div>
    </div>
    <div class="container-fluid footer">
        @Html.Partial("Footer")
    </div>
</body>
</html>
