﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div style="float:left;margin:0;margin-top:15px">
                <a id="notifyBtn" href="#" style="display:none" data-toggle="modal" data-target="#notifyModal"><img height=30 src="@Url.Content("~/Content/Images/notify.png")" /></a>
            </div>
            <div Class="dropdown user-login" style="float:left">
                <Button Class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    @if (@Session["Delegate"].ToString() == "True")
                    {
                        <span>Delegate For </span>
                        @ViewBag.ProfileName
                    }
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </Button>
                <ul Class="dropdown-menu">
                    <li><a href="@Url.Action("", "Profile")"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> My Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("MyContacts", "Admin")"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Contacts</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("MyCampaigns", "Admin")"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>Campaigns</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("", "Admin")"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Personas</a></li>
                    <li class="divider"></li>
                    @if (Convert.ToBoolean(@Session["Delegate"]) != true)
                    {
                        <li><a href="@Url.Action("Index", "Delegates")"><span Class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Delegates</a></li>
                    }
                    <li Class="divider"></li>
                    <li> <a href="@Url.Action("Reports", "Admin")"><span Class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Reports</a></li>
                    <li Class="divider"></li>
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li Class="dropdown-header">Super Admin</li>
                        <li><a href="@Url.Action("Transactions", "Admin")">Transactions</a></li>
                        <li Class="divider"></li>
                        <li>@Html.ActionLink("Campaign Admin", "Index", "ctCategories")</li>
                        <li Class="divider"></li>
                        <li>@Html.ActionLink("Email Domains", "Index", "EmailDomains")</li>
                        <li Class="divider"></li>
                        <li>@Html.ActionLink("Disclosures", "Index", "Disclosures")</li>
                        <li Class="divider"></li>
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        <li Class="divider"></li>
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        <li Class="divider"></li>
                        <li>@Html.ActionLink("Settings", "Settings", "Admin")</li>
                        <li class="divider"></li>
                    }
                    <li> <a href="javascript:document.getElementById('logoutForm').submit()"> Log Out</a></li>
                </ul>
            </div>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
        <li><a href="@Url.Action("", "Admin")"><span class='glyphicon glyphicon-cog'></span></a></li>
    </ul>
}
