﻿<footer>
    <p style="float:left; width:150px;">
        <img src="https://mycmo.s3.amazonaws.com/AssetFiles/CompanyLogos/AG/AG%20White.png" class="footer-logo" alt="AG Logo" width="100" />
    </p>
    <p class="footer-links">
        <a href="@Url.Action("Contact", "Home")">Send Site Feedback</a>
    </p>
</footer>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43576102-19"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments) };
    gtag('js', new Date());

    gtag('config', 'UA-43576102-19');
</script>
