﻿@using System.Web.Mvc

@model HandleErrorInfo

@(
    ViewBag.Title = "Locked Out"
)

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>
