﻿<!--<p>Quick Links</p>
<a href="/Touchpoints/UserCampaigns/123?category=Library">*NEW*</a>-->
<p>Categories</p>
<!--<a href="/Touchpoints/UserCampaigns/130?category=Library">Age-Based</a>-->
<!--<a href="/Touchpoints/UserCampaigns/131?category=Library">College Planning</a>-->
<a href="/Touchpoints/UserCampaigns/132?category=Library">Estate Planning</a>
<a href="/Touchpoints/UserCampaigns/133?category=Library">Financial Planning</a>
<!--<a href="/Touchpoints/UserCampaigns/134?category=Library">Lifestyle</a>-->
<a href="/Touchpoints/UserCampaigns/135?category=Library">Niche</a>
<a href="/Touchpoints/UserCampaigns/136?category=Library">Social Security</a>
<a href="/Touchpoints/UserCampaigns/137?category=Library">Retirement</a>
<a href="/Touchpoints/UserCampaigns/156?category=Library">Business Processes</a>
<!--<p>Greeting Cards</p>
<a href="/Touchpoints/UserCampaigns/127?category=Library">Birthday</a>
<a href="/Touchpoints/UserCampaigns/128?category=Library">Holidays</a>
<a href="/Touchpoints/UserCampaigns/129?category=Library">Moments</a>-->
<!--<p>Business Processes</p>
<a href="/Touchpoints/UserCampaigns/124?category=Library">PR: Relocation</a>
<a href="/Touchpoints/UserCampaigns/125?category=Library">PR: New Hire</a>
<a href="/Touchpoints/UserCampaigns/126?category=Library">PR: Meeting Attendance</a>-->
<p>Sponsors</p>
<!--<a href="/Touchpoints/UserCampaigns/110?category=Library">AIG</a>-->
<!--<a href="/Touchpoints/UserCampaigns/111?category=Library">Allianz Life</a>
<a href="/Touchpoints/UserCampaigns/112?category=Library">Fidelity</a>
<a href="/Touchpoints/UserCampaigns/113?category=Library">Franklin Templeton</a>
<a href="/Touchpoints/UserCampaigns/114?category=Library">Invesco</a>-->
<a href="/Touchpoints/UserCampaigns/115?category=Library">Ivy Investments</a>
<a href="/Touchpoints/UserCampaigns/116?category=Library">Legg Mason</a>
<!--<a href="/Touchpoints/UserCampaigns/117?category=Library">Natixis</a>-->
<a href="/Touchpoints/UserCampaigns/118?category=Library">NY Life/Mainstay Investments</a>
<a href="/Touchpoints/UserCampaigns/140?category=Library">TransAmerica</a>
<!--<a href="/Touchpoints/UserCampaigns/120?category=Library">Oppenheimer</a>
<a href="/Touchpoints/UserCampaigns/121?category=Library">PIMCO</a>
<a href="/Touchpoints/UserCampaigns/122?category=Library">Prudential</a>-->
<a href="/Touchpoints/UserCampaigns/144?category=Library">Putnam</a>
