﻿<nav class="navbar" role="navigation" id="submenu" style="display:none;">
    <ul class="nav navbar-nav" id="one">
        <li><a href="@Url.Action("", "Profile")">My Profile</a></li>
        <li><a href="@Url.Action("Index", "MyContacts2")">My Contacts</a></li>
        <li><a href="@Url.Action("MyCampaigns", "Admin")">My Campaigns</a></li>
        <li><a href="@Url.Action("", "Admin")">Personas</a></li>
        <li><a href="@Url.Action("Index", "Delegates")">Delegates</a></li>
        <li><a href="@Url.Action("Reports", "Admin")">Reports</a></li>
        @If User.IsInRole("SuperAdmin") Then
        @
        <li><a href="@Url.Action("Transactions", "Admin")">Transactions</a></li>
        @
        <li>@Html.ActionLink("Campaign Admin", "Index", "ctCategories")</li>
        @
        <li>@Html.ActionLink("Email Domains", "Index", "EmailDomains")</li>
        @
        <li>@Html.ActionLink("Disclosures", "Index", "Disclosures")</li>
        End If
    </ul>
</nav>
