﻿<h3>
    <b>
        <br />
        MyCMO Custom Email Setup
    </b>
</h3>
<p>
    Before MyCMO can successfully send emails on your behalf, and to make sure your emails don't end up in your clients' spam folder,
    you will need to establish an SPF (Sender Policy Framework) record.
    The SPF record lets you define the outgoing mail servers (such as MyCMO) that can send email from your domain name.

</p>
<p>
    Download a step-by-step
    <a href="http://www.advisorgroup.com/wp-content/uploads/MyCMO-Custom-Email-Setup-Guide.pdf">guide</a>
    on how to set up your email to work with MyCMO.
</p>
