﻿@model FACT.Web.Models.AccountViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/Layout_NoHeader.vbhtml";
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>
                    <h4>Use a delegate account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div hidden="hidden" class="col-md-10">
                            @Html.TextBoxFor(m => m.ParentIdSelected, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p style="display:none;">
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                </text>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            <img src="@Url.Content("~/Content/Images/MyCMOLogoBlack.png")" alt="AG Logo" />
        </section>
    </div>
    <div hidden="hidden">
        <button id="modal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" hidden="hidden"></button>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Multiple Advisors have listed you as a delegate. Choose an advisor to log in on behalf of.</h4>
                </div>
                <div class="modal-body">
                    <p id="advisors"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
@RenderSection("scripts", required: false)
<script type="text/javascript">
    $(function () {
        $("input[type='submit']").click(function (e) {
            e.preventDefault();
            var username = $("#Username").val();
            $.ajax({
                url: "LoginDelegateAjax",
                type: "GET",
                data: { Username: username },
                success: function (e) {
                    if (e.Success) {
                        $("#advisors").empty();
                        var str = "<ul>"
                        for (var i = 0; i < e.List.length; i++) {
                            str += "<li><a href='#' data-val='" + e.List[i].Id + "' class='parents'>" + e.List[i].UserName + "</a></li>";
                        }
                        str += "</ul>"
                        $("#advisors").append(str);
                        $("#modal").click();

                        $(".parents").click(function () {
                            var parentId = $(this).attr('data-val');
                            $("#ParentIdSelected").val(parentId);
                            $(".close").click();
                            $(".form-horizontal").submit();
                        });
                    }
                    else {
                        $(".form-horizontal").submit();
                    }
                }
            });
        });
    });
</script>
