﻿@model IEnumerable<FACT.Domain.Models.MiscModels.ApplicationUser>

@{
    ViewData["Title"] = "SelectAdvisor";
}

<h2>SelectAdvisor</h2>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            </td>
        </tr>
    }
</table>
