﻿@model FACT.Web.Models.AccountViewModels.SendCodeViewModel

@{
    ViewBag.Title = "Send";
}

<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", Model.RememberMe)
    <text>
        <h4>Send verification code</h4>
        <hr />
        <div class="row">
            <div class="col-md-8">
                Select Two-Factor Authentication Provider:
                @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </text>
}
@Scripts.Render("~/bundles/jqueryval")
@RenderSection("scripts", required: false)

