﻿@{
    ViewData["Title"] = "MyContacts";
}

@Html.Partial("Nav_Admin")
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


<a href=@Url.Action("UploadContacts", "Admin") Class="btn btn-primary" style="float:right; margin:10px;">
    <span Class="glyphicon glyphicon-level-up" aria-hidden="true"></span> Upload CSV
</a>
<a href=@Url.Action("RedTailCRM", "Admin") Class="btn btn-primary" style="float:right; margin:10px;">
    <span Class="glyphicon glyphicon-level-up" aria-hidden="true"></span> Import from RedTail CRM
</a>
@if (Model.SalesforceAuthToken = "")
{
    <input type="button" style="float: right; margin:10px;" value="Connect Salesforce" id="btnSF" Class="btn btn-primary"
           onclick="document.location.href='https://login.salesforce.com/services/oauth2/authorize?display=page&response_type=code&prompt=login%20consent&client_id=3MVG9A2kN3Bn17hsIqu9MmPk5RFxwdxCzuowa9ofrbVhZmzWu3HGUbPY7QAwIZftKFRkqNTalQlt_UHV2clTd&redirect_uri=http://localhost:50721/Admin/MyContacts'" />
}
else
{
    @<input id="btnImportSF" style="float: right; margin:10px;" type="button" value="Import from Salesforce" class="btn btn-primary"
            onclick="window.location='@Url.Action("SalesForceImports", "Admin")'" />
}
<iframe src="@ViewBag.IframeURL" style="width:100%; height:500px;" frameborder="0" />

<script type="text/javascript">
    $("#btn").click(function (e) {
        window.location = '@Url.Action("SalesForceImports", "Admin")';
    });
</script>
