﻿@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<link rel="stylesheet" href="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css" />
<iframe title="Feedback Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" 
        src="https://range.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle=MyCMO+Feedback&screenshot=no" scrolling="no" height="500px" width="100%" 
        frameborder="0">
</iframe>