﻿@model  IEnumerable<FACT.Domain.Models.MyCampaignsModel>

@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/Layout_Home.cshtml";
}

@if (Model.Count() > 0)
{
    <div class="my-dashboard col-md-12">
        <div class="dashboard-title col-md-12">My Dashboard</div>
        <div class="dashboard-info col-md-12">
            <div class="dash-item col-md-2">
                <span class="number blue">@ViewBag.NumOfActiveCampaigns</span>
                <h3>Active<br />Campaigns</h3>
                @Html.ActionLink("View Active Campaigns", "MyCampaigns", "Admin", new {home = "active"}, null)
                @Html.ActionLink("Launch a New Campaign", "Library", "Touchpoints")
            </div>
            <div class="dash-item col-md-2">
                <span class="number red">@ViewBag.NumOfWaitingCampaigns</span>
                <h3>Items<br />Under review</h3>
                @Html.ActionLink("View Campaigns", "MyCampaigns", "Admin", new {home = "wait"}, null)
            </div>
            <div class="dash-item col-md-2">
                <span class="number green">@ViewBag.NumOfCompletedCampaigns</span>
                <h3>Completed<br />Campaigns</h3>
                @Html.ActionLink("View Campaigns", "MyCampaigns", "Admin", new {home = "complete"}, null)
            </div>
            <div class="table-rea dash-item col-md-6">
                <h4>Recent Activity<a href=@Url.Action("MyCampaigns", "Admin") class="pull-right">View Calendar</a></h4>
                <table class="table" style="text-align:left;">


                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CampaignName)</th>
                        <th>@Html.DisplayNameFor(model => model.DateSubmitted)</th>
                        <th>@Html.DisplayNameFor(model => model.Status)</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.DbStatus == "Saved")
                            {
                                <td Class="name">
                                    <a href="@Url.Action("LaunchCampaignTouchpoints", "Touchpoints", new { mamlFileName = item.Url, programId = item.Id, Saved = "Saved",
                                            personaId = item.PersonaId })">
                                        @Html.DisplayFor(modelItem => item.CampaignName)
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td class="name">
                                    <a href="@Url.Action("CampaignDetailsActions", "Admin", new { JsonModel = Json.Encode(item) })">
                                        @Html.DisplayFor(modelItem => item.CampaignName)
                                    </a>
                                </td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.DateSubmitted)</td>
                            <td> @Html.DisplayFor(modelItem => item.Status) / @Html.DisplayFor(modelItem => item.DbStatus)</td>
                        </tr>
                    }
                </table>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
}
<div class="touchpoints-content">
    <div class="col-md-12">
        <a href="@Url.Action("Library", "Touchpoints")"><img src="@Url.Content("~/Content/Images/HomePage_Banner.jpg")" alt="AG" class="img-responsive" /></a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Library", "Touchpoints")"><img src="@Url.Content("~/Content/Images/Tile_Touchpoints.jpg")" alt="AG" class="img-responsive" /></a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("", "Education")"><img src="@Url.Content("~/Content/Images/Tile_Education.jpg")" alt="AG" class="img-responsive" /></a>
    </div>
    <div class="col-md-4">
        <a href="http://advisorgroupmarketing.com/" taget="_blank"><img src="@Url.Content("~/Content/Images/Tile_Consult.jpg")" alt="AG" class="img-responsive" /></a>
    </div>
</div>
<!-- Modal -->
<div id="notifyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Notifications</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jscolor")
@Scripts.Render("~/bundles/notify")
@RenderSection("scripts", required: false)
<script type="text/javascript">
        $(function () {

            if ("@ViewBag.PersonasLinkedInTooOld" !== "") {
                var str = "@ViewBag.PersonasLinkedInTooOld";
                var x = str.split("/n");
                if (x.length > 0) {
                    $("#notifyBtn").css("display", "block");
                    for (var i = 0; i < x.length; i++) {
                        $(".modal-body").append("<p>"+x[i]+"</p>" + "<br/>");
                    }
                }
                $('#notifyModal').on('hidden.bs.modal', function () {
                    $("#notifyBtn").css("display", "none");
                })
            }
        });
</script>
